@import './../../shared/general-style.scss';

.a-t-f {
    @include d_general_column(column, unset, center);
    background-image: url('./../../../app/shared/img/general-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: $fontWhite;
    padding: 0;
}

.mainHeadlines {
    @include  d_general_column(column, center, center);
    margin: 20vh 0 0 0;
    >h2 {
        font-size: 2.5rem;
        font-weight: 400;
    }
    >h1 {
        font-size: 6.4rem;
        margin: 2rem 0;
    }
    >div {
        @include d_general(space-between, center);
        gap: 3.75rem;
    }
}

.socialMediaATF {
    @include d_general_column(column, center, center);
    position: absolute;
    height: 18.75rem;
    align-self: flex-end;
    top: 18.75rem;
    left: 85%;
    >img {
      height: 2rem;
      aspect-ratio: 1/1;
    }
    >p {
      >a {
        @include anker();
      }
    }
}

.eMail {
    position: relative;
    transform: rotateZ(270deg);
    top: 1.25rem;
}

.githubIcon {
    position: relative;
    top: 6.25rem;
}

.linkedInIcon {
    position: relative;
    top: 7.5rem;
}

.marqueeContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  color: $fontGreen;
  margin-top: 16rem;
  height: 3rem;
  display: flex;
  align-items: center;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 60s linear infinite;
}

.marquee span {
  white-space: nowrap;
  padding-right: 5rem;
  font-size: 1.5rem;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.bulletPoint {
  padding: 0 3.3rem 0 1rem;
}