@import './../../shared/general-style.scss';
@import './../../shared/general-responsive-design.scss';

.a-t-f {
  @include d_general_column(column, unset, center);
  background-image: url('./../../../app/shared/img/general-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-width: 100%;
  color: $fontWhite;
  padding: 0;
}

.mainHeadlines {
  @include d_general_column(column, center, center);
  margin: 16vh 0 0 0;
  height: 60vh;

  >h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  >h1 {
    @include d_general(center, center);
    color: $fontWhite;
    text-align: center;
    flex-wrap: nowrap;
    font-size: 6.4rem;
    margin: 2rem 0;

    >span {
      transition: color 200ms;

      &:hover {
        color: $fontGreen;
      }
    }

  }

  >div {
    @include d_general(space-between, center);
    gap: 3.75rem;
  }
}

.socialMediaATF {
  @include d_general_column(column, center, center);
  position: absolute;
  height: 18.75rem;
  align-self: flex-end;
  top: 30vh;
  left: 85%;

  >.smIcon {
    >a {
      >img {
        height: 2rem;
        aspect-ratio: 1/1;
        overflow: hidden;
      }
    }

    >img {
      height: 2rem;
      aspect-ratio: 1/1;
      overflow: hidden;
    }
  }

  >div {
    >a {
      @include anker();
    }
  }
}

.socialMediaMobile {
  display: none;
}

.eMail {
  position: relative;
  transform: rotateZ(270deg);
  top: 1.25rem;
}

.mailIcon {
  position: relative;
  top: 5.25rem;
}

.githubIcon {
  position: relative;
  top: 6.25rem;
}

.linkedInIcon {
  position: relative;
  top: 7.5rem;
}

.marqueeContainer {
  position: absolute;
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  color: $fontGreen;
  bottom: 16vh;
  height: 3rem;
  display: flex;
  align-items: center;
  box-shadow: 18px 0 10px $fontGreen, -18px 0 10px $fontGreen;
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 60s linear infinite;
}

.marquee span {
  white-space: nowrap;
  padding-right: 5rem;
  font-size: 1.5rem;
}

.bulletPoint {
  padding: 0 3.3rem 0 1rem;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}