<section class="contactMeSection">
    <div class="contactMe">
        <h3>{{ 'contactMe.contactMe' | translate }}</h3>
        <h2 class="greenH2">{{ 'contactMe.headline' | translate }}</h2>
        <div>
            <h3>{{ 'contactMe.subheadline' | translate }}</h3>
            <p>{{ 'contactMe.paragraph' | translate }}<br>
            <br>
            {{ 'contactMe.question' | translate }} <a href="tel:015780847980" class="textLink">{{ 'contactMe.button' | translate }}</a></p>
        </div>
    </div>
    <form class="contactField" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="inputSection">
            <h3>{{ 'contactMe.inputName' | translate }}</h3>
            <input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text" [placeholder]="switchlanguagedata.german ? 'Gib deinen Namen an' : 'Your name goes here'" required>
            @if (!name.valid && name.touched) {
                <br><span class="invalidInput">{{ 'contactMe.invalidName' | translate }}</span>
            }
        </div>
        <div class="inputSection">
            <h3>{{ 'contactMe.inputMail' | translate }}</h3>
            <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="email" [placeholder]="switchlanguagedata.german ? 'deine@email.com' : 'your@email.com'" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if (!email.valid && email.touched) {
                <br><span class="invalidInput">{{ 'contactMe.invalidMail' | translate }}</span>
            }
        </div>
        <div class="inputSection">
            <h3>{{ 'contactMe.inputMessage' | translate }}</h3>
            <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" type="text" [placeholder]="switchlanguagedata.german ? 'Hallo Hendrik, ich habe Interesse an...' : 'Hello Hendrik, I am interested in...'" required></textarea>
            @if (!message.valid && message.touched) {
                <br><span class="invalidInput">{{ 'contactMe.invalidMessage' | translate }}</span>
            }
        </div>
        <div class="readPolicy">
            @if (!isChecked) {
                <img src="./../../../assets/img/contact-me-img/not-checked.png" alt="not-checked" (click)="toggleChecked()">
            }  @else { <img src="./../../../assets/img/contact-me-img/checked.png" alt="checked" (click)="toggleChecked()">}
            @if (this.switchlanguagedata.german) {
                <p>Ich habe die <a href="privacy-policy-de" class="textLink">Datenschutzrichtlinie</a> gelesen und bin mit der beschriebenen Verarbeitung meiner Daten einverstanden.</p>
            } @else {<p>I`ve read the <a href="privacy-policy-en" class="textLink">privacy policy</a> and agree to the processing of my data as outlined.</p>}
        </div>
        @if (name.valid && email.valid && message.valid && isChecked) {
            <input type="submit" class="btn" [value]="switchlanguagedata.german ? 'Sag Hallo! :D' : 'Say hi! :D'" (click)="toggleConfirmation()">
        } @else {
            <input type="submit" class="btnOff" [value]="switchlanguagedata.german ? 'Sag Hallo! :D' : 'Say hi! :D'" disabled>
        }
        @if (emailSentConfirmation) {
            <div class="confirmationOverlay" (click)="toggleConfirmation()">
                <div class="confirmation">
                    @if (closeHovered) {
                        <img class="closeBtn" src="./../../../assets/img/p-projects-img/close-hover.png" alt="close-hover"
                        (mouseleave)="addHover(0)" (click)="toggleConfirmation()" (click)="toggleChecked()">
                    } @else {<img class="closeBtn" src="./../../../assets/img/p-projects-img/close.png" alt="close"
                    (mouseenter)="removeHover(0)" (click)="toggleConfirmation()">}
                    <p>{{ 'contactMe.mailSent' | translate }}</p>
                </div>
            </div>
        }
    </form>
</section>