@import './../../shared/general-style.scss';
@import './../../shared/general-responsive-design.scss';

.contactMeSection {
  @include d_general(space-between, start);
  max-width: 120rem;
  gap: 5rem;
}

.contactMe,
.contactField {
  width: 45%;
}

.btnOff {
  padding: 0.75rem 1rem;
  font-family: 'Fira Code';
  font-size: 1rem;
  border: solid 0.125rem $fontWhite;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.278);
  color: $fontWhite;
  text-decoration: line-through;
}

.textLink {
  color: $fontGreen;
  text-decoration: none;

  &:hover {
    color: $fontWhite;
  }
}

.inputSection {
  padding: 0 1rem 0 1rem;
  border-top: solid 0.0625rem $fontGreen;
  border-bottom: solid 0.0625rem $fontGreen;
  border-collapse: collapse;
  transition: background-color 0.4s;

  ::placeholder {
    color: $fontWhite;
    font-size: 1rem;
    font-family: "Fira Code";
  }

  &:hover {
    background-color: rgba(61, 207, 182, 0.2);
  }

  >input[type=text],
  [type=email],
  select,
  textarea {
    color: $fontWhite;
    padding: 1rem;
    width: 25rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;

    &::placeholder {
      color: rgba(217, 217, 217, 0.5);
    }
  }

  >.invalidInput {
    color: red;
  }
}

.readPolicy {
  @include d_general(flex-start, center);
  font-size: 0.75rem;

  >img {
    margin: 0.25rem;
    height: 1.5rem;
    width: 1.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.confirmationOverlay {
  @include d_general(center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;

  >.confirmation {
    @include d_general(center, center);
    position: relative;
    height: 10rem;
    width: fit-content;
    background-color: rgb(25, 93, 82);
    padding: 4rem;
    margin: 1rem;
    border: solid 2px $fontGreen;
    border-radius: 2rem;

    >.closeBtn {
      position: absolute;
      top: 1rem;
      right: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    >p {
      text-align: center;
    }
  }
}