<section class="contactMeSection">
    <div class="contactMe">
        <h3>Contact me</h3>
        <h2 class="greenH2">Let`S work together</h2>
        <div>
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am inderested in hearing from you, knowing your ideas and contributing to your projects with my work. <br>
            <br>
            Need a frontend developer? <a href="tel:015780847980" class="textLink">Let`s talk!</a></p>
        </div>
    </div>
    <form class="contactField" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="inputSection">
            <h3>What`s yout name?</h3>
            <input #name="ngModel" [(ngModel)]="contactData.name" name="name" type="text" placeholder="Your name goes here" required>
            @if (!name.valid && name.touched) {
                <br><span class="invalidInput">Field is empty! Please enter your name!</span>
            }
        </div>
        <div class="inputSection">
            <h3>What`s your email?</h3>
            <input #email="ngModel" [(ngModel)]="contactData.email" name="email" type="email" placeholder="youremail@email.com" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if (!email.valid && email.touched) {
                <br><span class="invalidInput">Please enter a correct email-adress!</span>
            }
        </div>
        <div class="inputSection">
            <h3>How can I help you?</h3>
            <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" type="text" placeholder="Hello Hendrik, I am interested in..." required></textarea>
            @if (!message.valid && message.touched) {
                <br><span class="invalidInput">Field is empty! Please enter a message!</span>
            }
        </div>
        <div class="readPolicy">
            <input name="checkbox" type="checkbox" class="checkbox">
            <p>I`ve read the <a href="privacy-policy" class="textLink">privacy policy</a> and agree to the processing of my data as outlined.</p>
        </div>
        @if (name.valid && email.valid && message.valid) {
            <input type="submit" value="Say hi! :D">
        } @else {
            <input type="submit" value="Say hi! :D" disabled>
        }

    </form>
</section>