<app-header id="header"></app-header>
<section class="prPolicySection">
    <main class="prPolicy">
        <h4>Data Processing Agreement</h4>
        <p>We have entered into a data processing agreement (DPA) for the use of the aforementioned service. This is a legally required contract that ensures that this service processes the personal data of our website visitors only in accordance with our instructions and in compliance with the GDPR.</p>
        
        <h2>3. General Information and Mandatory Notices</h2>
        
        <h3>Data Protection</h3>
        <p>The operators of this website take the protection of your personal data very seriously. We treat your personal data confidentially and in accordance with legal data protection regulations and this privacy policy.</p>
        <p>When you use this website, various personal data are collected. Personal data is data that can personally identify you. This privacy policy explains what data we collect and how we use it. It also explains how and for what purpose this happens.</p>
        <p>We point out that data transmission on the Internet (e.g., when communicating via email) may have security vulnerabilities. Complete protection of data against access by third parties is not possible.</p>
        
        <h3>Responsible Party</h3>
        <p>The responsible party for data processing on this website is:</p>
        <p>Hendrik Bischoping<br />
        Beethovenweg 9<br />
        58313 Herdecke</p>
        
        <p>Phone: +49 15780847980<br />
        Email: h.bischoping&#64;gmx.de</p>
        
        <p>The responsible party is the natural or legal person who alone or jointly with others determines the purposes and means of processing personal data (e.g., names, email addresses, etc.).</p>
        
        <h3>Storage Duration</h3>
        <p>Unless a specific storage period is stated in this privacy policy, your personal data will remain with us until the purpose for data processing ceases to exist. If you request deletion or withdraw your consent to data processing, your data will be deleted unless we have other legally permissible reasons for storing your personal data (e.g., tax or commercial retention periods); in the latter case, deletion occurs after these reasons no longer apply.</p>
        
        <h3>Legal Bases for Data Processing on This Website</h3>
        <p>If you have consented to data processing, we process your personal data based on Art. 6 (1) lit. a GDPR or Art. 9 (2) lit. a GDPR if special categories of data according to Art. 9 (1) GDPR are processed. In the case of explicit consent to the transfer of personal data to third countries, processing is also based on Art. 49 (1) lit. a GDPR. If you have consented to the storage of cookies or access to information on your device (e.g., via device fingerprinting), processing is additionally based on § 25 (1) TDDDG. Consent can be revoked at any time.</p>
        
        <h3>Recipients of Personal Data</h3>
        <p>In the course of our business activities, we collaborate with various external parties. The transfer of personal data to these external parties is only done when necessary for contract fulfillment, legally required (e.g., transfer to tax authorities), or based on our legitimate interest under Art. 6 (1) lit. f GDPR. Data is only shared with processors based on a valid data processing agreement. If joint processing occurs, a joint processing agreement is concluded.</p>
        
        <h3>Revocation of Your Consent to Data Processing</h3>
        <p>Many data processing operations are only possible with your explicit consent. You can revoke consent at any time. The legality of the data processing carried out before revocation remains unaffected.</p>
        
        <h3>Right to Object to Data Collection in Special Cases and Direct Advertising (Art. 21 GDPR)</h3>
        <p>IF DATA PROCESSING IS BASED ON ART. 6 (1) LIT. E OR F GDPR, YOU HAVE THE RIGHT TO OBJECT TO THE PROCESSING OF YOUR PERSONAL DATA AT ANY TIME FOR REASONS ARISING FROM YOUR PARTICULAR SITUATION; THIS ALSO APPLIES TO PROFILING BASED ON THESE PROVISIONS.</p>
        
        <h3>Right to File Complaints with Regulatory Authorities</h3>
        <p>In the event of GDPR violations, data subjects have the right to file a complaint with a supervisory authority, particularly in the member state of their habitual residence, workplace, or the place of the alleged violation. This right is without prejudice to other administrative or judicial remedies.</p>
        
        <h3>Right to Data Portability</h3>
        <p>You have the right to have data that we process automatically based on your consent or in fulfillment of a contract handed over to you or a third party in a standard, machine-readable format.</p>
        
        <h3>Access, Correction, and Deletion</h3>
        <p>Within the scope of applicable legal provisions, you have the right to free information about your stored personal data, its origin and recipients, and the purpose of data processing and, if necessary, a right to correction or deletion of this data.</p>
        
        <h3>Right to Restrict Processing</h3>
        <p>You have the right to request the restriction of processing your personal data under certain conditions:</p>
        <ul>
            <li>If you dispute the accuracy of your personal data stored by us, we usually need time to verify this. During the verification period, you have the right to request the restriction of processing your personal data.</li>
            <li>If the processing of your personal data was/is unlawful, you may request the restriction of data processing instead of deletion.</li>
            <li>If we no longer need your personal data, but you require it to exercise, defend, or assert legal claims, you have the right to request restriction instead of deletion.</li>
        </ul>
        
        <h3>SSL or TLS Encryption</h3>
        <p>This site uses SSL or TLS encryption for security reasons and to protect the transmission of confidential content, such as orders or inquiries you send to us. You can recognize an encrypted connection by the change in the address line of your browser from “http://” to “https://” and the lock symbol in your browser line.</p>
        
        <p>Source: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
    </main>
</section>
<app-footer></app-footer>