 <header>
    <span class="headerContent">
        <nav>
            @if (this.hovers[0].isShown) {
                @if (!this.hovers[0].isHovered) {
                <img class="btnPointer" src="./../../../assets/img/header-img/btn-to-de.png" alt="switch to german" (mouseenter)="addHover(0)" (mouseleave)="removeHover(0)">
                }@else {<img class="btnPointer" src="./../../../assets/img/header-img/btn-to-de-hover.png" alt="switch to german" (mouseenter)="addHover(0)" (mouseleave)="removeHover(0)" (click)="toggleVisible(0, 1)">}
            }
            @if (!this.hovers[0].isShown) {
                @if (!this.hovers[1].isHovered) {
                <img class="btnPointer" src="./../../../assets/img/header-img/btn-to-en.png" alt="switch to german" (mouseenter)="addHover(1)" (mouseleave)="removeHover(1)">
                }@else {<img class="btnPointer" src="./../../../assets/img/header-img/btn-to-en-hover.png" alt="switch to german" (mouseenter)="addHover(1)" (mouseleave)="removeHover(1)" (click)="toggleVisible(1, 0)">}
            }
            <a href="#about-me">About me</a>
            <a href="#technologies">Skills</a>
            <a href="#projects">Projects</a>
        </nav>
        <a href="#contact" class="logoSection btnPointer">            
            @if (!this.hovers[2].isHovered) {
                <img src="./../../../assets/img/header-img/logo.png" class="myLogo" alt="myLogo" (mouseenter)="addHover(2)" (mouseleave)="removeHover(2)">
                }@else {<img src="./../../../assets/img/header-img/logo-hover.png" class="myLogo" alt="myLogo" (mouseenter)="addHover(2)" (mouseleave)="removeHover(2)">}
        </a>
    </span>
</header>