<header>
    <div class="headerContent">
        <nav>
            <img class="btnPointer d_none" src="./../../../assets/img/header-img/btn-to-de.png" alt="switch to german">
            <img class="btnPointer" src="./../../../assets/img/header-img/btn-to-en.png" alt="switch to english">
            <a href="">About me</a>
            <a href="">Skills</a>
            <a href="">Projects</a>
        </nav>
        <div class="logoSection btnPointer">
            <img class="myLogo" src="../../../assets/img/header-img/my-logo-2.png" alt="my logo">
            <div>
                <p>Hendrik</p>
                <p>Bischoping</p>
            </div>
        </div>
    </div>
</header>