 <header>
    <span class="headerContent">
        <nav>
            @if (this.hovers[0].isShown) {
                @if (!this.hovers[0].isHovered) {
                <img class="btnPointer" src="./../../../assets/img/header-img/btn-to-en.png" alt="switch to german" (mouseenter)="addHover(0)" (mouseleave)="removeHover(0)">
                }@else {<img class="btnPointer" src="./../../../assets/img/header-img/btn-to-en-hover.png" alt="switch to german" (mouseenter)="addHover(0)" (mouseleave)="removeHover(0)" (click)="switchLanguage('de')" (click)="toggleVisible(0, 1)">}
            }
            @if (!this.hovers[0].isShown) {
                @if (!this.hovers[1].isHovered) {
                <img class="btnPointer" src="./../../../assets/img/header-img/btn-to-de.png" alt="switch to german" (mouseenter)="addHover(1)" (mouseleave)="removeHover(1)">
                }@else {<img class="btnPointer" src="./../../../assets/img/header-img/btn-to-de-hover.png" alt="switch to german" (mouseenter)="addHover(1)" (mouseleave)="removeHover(1)" (click)="switchLanguage('en')" (click)="toggleVisible(1, 0)">}
            }
            <a href="#about-me"><div>{{ 'header.about-me' | translate }}</div></a>
            <a href="#technologies"><div>{{ 'header.skills' | translate }}</div></a>
            <a href="#projects"><div>{{ 'header.projects' | translate }}</div></a>
        </nav>
        <a href="#a-t-f" class="logoSection btnPointer">            
            @if (!this.hovers[2].isHovered) {
                <img src="./../../../assets/img/header-img/logo.png" class="myLogo" alt="myLogo" (mouseenter)="addHover(2)" (mouseleave)="removeHover(2)">
                }@else {<img src="./../../../assets/img/header-img/logo-hover.png" class="myLogo" alt="myLogo" (mouseenter)="addHover(2)" (mouseleave)="removeHover(2)">}
        </a>
       <!-- <div>{{ 'header.hello' | translate:{name} }}</div> -->
    </span>
    <span class="headerContentMobile d_none">
        <a href="">
            <img src="./../../../assets/img/header-img/logo.png" class="myLogo" alt="myLogo">
        </a>
        <div class="burgerMenu" (click)="toggleBurgerMenu()">
            <div class="burgerbar one"></div>
            <div class="burgerbar two"></div>
            <div class="burgerbar three"></div>
        </div>
    </span>
</header>
<div class="popupMenuBg" [ngClass]="{ 'hideMenu': menuIsClosed }" (click)="toggleBurgerMenu()">
    <div class="popupMenu">
        <nav>
            <a href="#about-me"><div>{{ 'header.about-me' | translate }}</div></a>
            <a href="#technologies"><div>{{ 'header.skills' | translate }}</div></a>
            <a href="#projects"><div>{{ 'header.projects' | translate }}</div></a>
            @if (this.hovers[0].isShown) {
                @if (!this.hovers[0].isHovered) {
                <img class="btnPointer" src="./../../../assets/img/header-img/btn-to-en.png" alt="switch to german" (mouseenter)="addHover(0)" (mouseleave)="removeHover(0)">
                }@else {<img class="btnPointer" src="./../../../assets/img/header-img/btn-to-en-hover.png" alt="switch to german" (mouseenter)="addHover(0)" (mouseleave)="removeHover(0)" (click)="switchLanguage('de')" (click)="toggleVisible(0, 1)">}
            }
            @if (!this.hovers[0].isShown) {
                @if (!this.hovers[1].isHovered) {
                <img class="btnPointer" src="./../../../assets/img/header-img/btn-to-de.png" alt="switch to german" (mouseenter)="addHover(1)" (mouseleave)="removeHover(1)">
                }@else {<img class="btnPointer" src="./../../../assets/img/header-img/btn-to-de-hover.png" alt="switch to german" (mouseenter)="addHover(1)" (mouseleave)="removeHover(1)" (click)="switchLanguage('en')" (click)="toggleVisible(1, 0)">}
            }
        </nav>
    </div>
</div>