@import './../general-style.scss';

header {
    @include d_general(center, center);
    position: absolute;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 1;
    margin: 0 auto;
}

.headerContent {
    @include d_general(space-between, center);
    margin: 0 10rem;
    width: 100%;
    max-width: 90rem;
    >nav {
        @include d_general(center, center);
        gap: 1.5rem;
        >img {
            width: 5.25rem;
            height: 1.75rem
        }
        >a {
            @include  anker ();
            font-size: 1.5rem;
        }
    }
}

.logoSection {
    @include d_general(center, center);
    @include  anker ();
    >div {
        >p {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            font-family: 'Karla';
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}

.myLogo {
    height: 3.5rem;
    width: auto;
}