@mixin d_general($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin d_general_column($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@media (max-width: 1500px) {
    html {
        font-size: 14px;
    }

    .commentaries {
        .cardSection {
            .singleCard {
                height: 240px;
                width: 450px;
            }
        }
    }
}

@media (max-width: 1300px) {

    section {
        padding: 5rem;
    }

    .headerContent {
        margin: 0 4rem;
    }

    .a-t-f {
        >.mainHeadlines {
            >h1 {
                font-size: 5rem;
                max-width: 36rem;
                display: block;
                white-space: pre-line;
            }

            h1::after {
                content: "\A";
                white-space: pre;
            }
        }

        >.socialMediaATF {
            left: unset;
            right: 8rem;
        }
    }

    .technologiesSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        gap: 2rem;

        >.technologies {
            justify-content: center;
            max-width: 33rem;
        }
    }

    .portfolioSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;

        .portfolioSectionLeft {

            >.portfolio,
            h3 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: static;
                text-align: center;
                margin: 0 4rem;
            }

            p,
            table {
                width: 100%;
            }
        }

        >.howerProject {
            height: 0;
            margin-top: 0;

            >.miniGraphic {
                display: none;
            }

            >.overlayBg {
                >.projectDetails {
                    >.cardLeft {
                        >.cardHeadlines {
                            @include d_general(center, center);
                            gap: 2rem;
                        }
                    }
                }
            }
        }
    }

    .contactMeSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div,
        form {
            align-self: center;
            width: 80%;
            div p {
                font-size: 1vw;
            }
        }

        >form {
            >div {

                >input,
                textarea {
                    width: 80%;
                }
            }
        }
    }

    .projectDetails {
        >.cardRight {
            >.graphic {
                z-index: 10;
            }
        }
    }

    .whoIAmSection {
        flex-direction: column;
        @include d_general(center, center);
        // position: static !important;
        gap: 2rem;

        >.profileSection {
            @include d_general_column(column, center, center);
            position: static;
            height: fit-content;

            >h3 {
                display: block;
                align-self: flex-start;
            }

            >.profile {
                position: static;
                max-width: 100%;
                top: unset;
                left: unset;
            }

            >.profileBg {
                display: none;
            }
        }

        >.whoIAm {
            >h3 {
                display: none;
            }

            >.aboutMe {
                position: static;
            }
        }
    }
}

@media (max-width: 1000px) {
    .headerContent {
        a div {
            font-size: 1rem;
        }
    }
}

@media (max-width: 900px) {
    html {
        font-size: 11px;
    }

    p,
    li {
        font-size: 16px;
    }

    .headerContent {
        margin: 0 4rem;

        a div {
            font-size: 1.5rem;
        }
    }

    section {
        padding: 2rem;
    }

    .a-t-f {
        div div {
            gap: 5rem;

            a button {
                margin-top: 8vh;
                scale: 1.4;
            }
        }

        .socialMediaATF .eMail {
            top: -1rem;
        }
    }

    .portfolioSection {
        .portfolioSectionLeft {
            .portfolio {
                margin: 0 8rem;

                p,
                table {
                    width: 100%;
                }
            }
        }
    }

    .commentaries {
        overflow: hidden;
        .cardSection {
            .singleCard {
                .singleCardInfo {
                    .commentary {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .navBar {
        .arrowImg {
        margin: 0 0.5rem;
        height: 4.5rem;
        width: 4.5rem;
        }
        .dot {
            padding: 0 0.25rem;
            height: 1rem;
            width: 1rem;
        }
    }
    .footerSection .businesMedia a {
            font-size: 1.4rem;
        }
}

@media (max-width: 750px) {
    html {
        font-size: 10px;
    }

    .projectDetails {
        @include d_general_column(column-reverse, center, center);
        min-height: fit-content;
        gap: 0;

        >.cardLeft {
            min-width: 90%;

            >.tecsAndButtons {
                @include d_general(space-between, flex-end);

                >.cardButtons {
                    gap: 1rem;
                }
            }
        }

        >.cardRight {
            min-width: 90%;

            // >.graphic {
            //     height: fit-content;
            // }
        }
    }

    .commentaries {
        .cardSection {
            .singleCard {
                .singleCardInfo {
                    .commentary {
                        font-size: 1.5rem;
                        padding: 0 1.5rem;
                    }

                    .commentator p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    html {
        font-size: 10px;
    }

    header {
        .headerContent {
            display: none;
            // margin: 0 3rem;
            // >a {
            //     >.myLogo {
            //         margin-bottom: 2rem;
            //     }
            // }
        }
    }

    .headerContentMobile {
        display: flex !important;
    }

    .a-t-f {
        >.mainHeadlines {
            margin-top: 10rem;
        }

        >.socialMediaATF {
            display: none;
            // left: unset;
            // right: 2rem;
        }

        >.socialMediaMobile {
            @include d_general_column(column, center, center);
            position: absolute;
            bottom: 32vh;
            right: 4rem;

            >.smIcon {
                >a {
                    >img {
                        height: 4rem;
                        aspect-ratio: 1/1;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    header {
        .headerContent {
            flex-direction: column-reverse;

            >nav {
                flex-direction: column-reverse;
            }
        }
    }

    .footerSection {
        padding: 2rem 6rem 4rem 6rem!important;
        position: relative;
        .copyright {
            position: absolute;
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.5rem;
            white-space: nowrap;
        }
    }

    .greenH2 {
        font-size: 3rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .prPolicySection {
        padding: 5rem 0;

        >.prPolicy {
            padding: 0 5rem;
            padding-top: 15rem;
        }
    }

    .commentaries {
        .cardSection {
            .singleCard {
                background-color: rgba(40, 99, 89);

                .singleCardInfo {
                    .commentary {
                        font-size: 1.5rem;
                        padding: 0 1.5rem;
                    }

                    .commentator p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .portfolioSection {
        .portfolioSectionLeft {
            .portfolio {
                margin: 0 3rem;
            }
        }
    }

    .commentaries {
        .cardSection {
            .singleCard {
                width: 300px;

                .singleCardInfo {
                    .commentary {
                        font-size: 1.2rem;
                        padding: 0 1.5rem;
                    }

                    .commentator p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .squareDesign {
        min-width: 100%;
        box-sizing: border-box;
        height: fit-content;
    }

    .a-t-f {
        gap: 2rem;

        >.mainHeadlines {
            >h1 {
                font-size: 4.5rem;
            }
        }

        >.socialMediaATF {
            height: fit-content;
            position: static;
            right: unset;
            align-self: center;
            flex-direction: row;
            gap: 1rem;

            >.eMail {
                position: static;
                transform: rotateZ(0deg);
                top: unset;
            }

            >div {
                img {
                    position: unset;
                    top: 0rem;
                }
            }
        }
    }

    .whoIAmSection {
        >.profileSection {
            width: 100%;
            .profile {
                aspect-ratio: 1 / 1;
            }
        }
        >.whoIAm {
            @include d_general(center, center);
            max-width: 100%;
            width: 100%;
            >.aboutMe {
                align-self: center;
                max-width: 100%;
                height: fit-content;
            }
        }
    }

    .technologiesSection {
        >.skillSetSection {
            max-width: 100%;

            >.skillsetDescription {
                margin: 0;
                min-height: fit-content;
                width: 100%;
                min-width: 100%;
            }
        }
    }

    .overlayBg .projectDetails {
        padding: 2rem;

        >.cardLeft {

            >.tecsAndButtons {
                @include d_general_column(column, space-between, flex-start);
                align-items: flex-start;
                justify-content: flex-start;

                >.tecsCard {
                    >div {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .portfolioSection {
        padding: 0;

        .portfolioSectionLeft {
            .portfolio {
                margin: 0;

                h2,
                p {
                    max-width: 80%;
                }

                table th {
                    padding: 2rem 0;
                }

                table td .devide {
                    width: 0;
                }
            }
        }
    }
    .footerSection {
        padding: 2rem 3rem 5rem!important;
        position: relative;
        .copyright {
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
        }
        .businesMedia a {
            font-size: 1.2rem;
        }
    }
}