/*mixins*/
@mixin d_general($jc, $ai){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin d_general_column($fd, $jc, $ai){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin anker (){
    color: $fontWhite;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color: $fontGreen;
    }
}


/*style-variables*/
$fontWhite: rgba(217, 217, 217, 1);
$fontGreen: rgba(61, 207, 182, 1);
$backgroundGrey: rgb(27, 27, 27);

/*general style*/
html {    
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    scroll-behavior: smooth;
}

section {
    padding: 80px 160px;
    color: $fontWhite;
    max-width: 1920px;
}
  
.d_none {
    display: none;
}

.btnPointer {
    cursor: pointer;
}
  
.btn {
    cursor: pointer;
    padding: 12px 16px 12px 16px;
    font-family: 'Fira Code';
    font-size: 16px;
    border: solid 2px $fontWhite;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
    color: $fontWhite;
    &:hover {
        border: solid 2px $fontGreen;
        color: $fontGreen;
    }
}

.greenH2 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    color: $fontGreen;
}


h3 {
    font-size: 16px;
    color: $fontGreen;
}

.squareDesign {
    height: 568px;
    width: 568px;
    border-radius: 32px;
}

@mixin greenSquare($squareSide) {
    height: $squareSide;
    width: $squareSide;
    border: solid 1px $fontGreen;
    padding: 32px;
    color: $fontWhite;
    background-color: rgba(61, 207, 182, 0.1);
}