@mixin d_general($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin d_general_column($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@media (max-width: 1500px) {
    html {
        font-size: 14px;
    }

    .commentaries {
        .cardSection {
            .singleCard {
                height: 240px;
                width: 450px;
            }
        }
    }
}

@media (max-width: 1300px) {

    section {
        padding: 5rem;
    }

    .headerContent {
        margin: 0 4rem;
    }

    .technologiesSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        gap: 2rem;

        >.technologies {
            justify-content: center;
            max-width: 33rem;
        }
    }

    .portfolioSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;

        .portfolioSectionLeft {

            >.portfolio,
            h3 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: static;
                text-align: center;
                margin: 0 4rem;
            }

            p,
            table {
                width: 100%;
            }
        }

        >.howerProject {
            height: 0;
            margin-top: 0;

            >.miniGraphic {
                display: none;
            }

            >.overlayBg {
                >.projectDetails {
                    >.cardLeft {
                        >.cardHeadlines {
                            @include d_general(center, center);
                            gap: 2rem;
                        }
                    }
                }
            }
        }
    }

    .contactMeSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div,
        form {
            align-self: center;
            width: 100%;

            div p {
                font-size: clamp(14px, 2vw, 16px);
            }
        }

        >form {
            >div {

                >input,
                textarea {
                    width: 80%;
                    font-size: 14px;
                    font-family: 'Karla';
                }
            }
        }
    }

    .projectDetails {
        >.cardRight {
            >.graphic {
                z-index: 10;
            }
        }
    }

    .whoIAmSection {
        flex-direction: column;
        @include d_general(center, center);
        gap: 2rem;

        >.profileSection {
            @include d_general_column(column, center, center);
            position: static;
            height: fit-content;

            >h3 {
                display: block;
                align-self: flex-start;
            }

            >.profile {
                position: static !important;
                max-width: 100%;
                top: unset;
                left: unset;

                &:hover {
                    display: block;
                    margin: 0;
                }
            }

            >.profileBg {
                display: none;
            }
        }

        >.whoIAm {
            margin-left: 0;

            >h3 {
                display: none;
            }

            >.aboutMe {
                position: static;
            }
        }
    }
}

@media (max-width: 1000px) {
    .headerContent {
        a div {
            font-size: 1rem;
        }
    }
}

@media (max-width: 900px) {
    // html {
    //     font-size: 11px;
    // }

    p,
    li {
        font-size: 16px;
    }

    .headerContent {
        margin: 0 6rem !important;

        a div {
            font-size: 1rem;
        }
    }

    section {
        padding: 2rem;
    }

    .portfolioSection {
        .portfolioSectionLeft {
            .portfolio {
                margin: 0 8rem;

                p,
                table {
                    width: 100%;
                }
            }
        }
    }

    .projectDetails {
        @include d_general_column(column-reverse, center, center);
        min-height: fit-content;
        gap: 0;

        >.cardLeft {
            min-width: 90%;

            >.cardHeadlines h2 {
                font-size: 4.5rem
            }

            >.tecsAndButtons {
                @include d_general_column(column, space-between, flex-end);

                >.tecsCard {
                    flex-flow: row wrap;
                }

                >.cardButtons {
                    gap: 1rem;
                }
            }
        }

        >.cardRight {
            position: relative;
            min-width: 90%;
            @include d_general_column(column, center, center);

            >.closeBtn {
                position: relative;
                top: 0;
                right: -50%;
            }
        }

        .commentaries {
            overflow: hidden;

            //     .cardSection {
            //         .singleCard {
            //             .singleCardInfo {
            //                 .commentary {
            //                     font-size: 1.3rem;
            //                 }
            //             }
            //         }
            //     }
        }

        .navBar {
            .arrowImg {
                margin: 0 0.5rem;
                height: 4.5rem;
                width: 4.5rem;
            }

            .dot {
                padding: 0 0.25rem;
                height: 1rem;
                width: 1rem;
            }
        }

        .footerSection .businesMedia a {
            font-size: 1.2rem;
        }
    }

    @media (max-width: 750px) {
        .headerContent {
            margin: 0 2.5rem !important;
        }
    }

    .footerSection {
        padding: 2rem 6rem 4rem 6rem !important;
        position: relative;

        .copyright {
            position: absolute;
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1rem;
            white-space: nowrap;
        }
    }
}

@media (max-width: 800px) {
    .portfolio table {

        th,
        td {
            padding: 0;
        }

        tr {
            @include d_general_column(column, center, flex-start);
            padding: 1rem;
            gap: 1rem;
        }
    }
}

@media (max-width: 700px) {
    header {
        .headerContent {
            margin: 0 3rem;
            display: none !important;

            >a {
                >.myLogo {
                    margin-bottom: 2rem;
                }
            }
        }

        .headerContentMobile {
            display: flex !important;
        }
    }

    header {
        .headerContent {
            flex-direction: column-reverse;

            >nav {
                flex-direction: column-reverse;
            }
        }
    }

    .greenH2 {
        font-size: 3rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .prPolicySection {
        padding: 5rem 0;

        >.prPolicy {
            padding: 0 6rem;
            padding-top: 5rem;
        }
    }

    .portfolioSection .portfolioSectionLeft .portfolio {
        margin: 0 4.5rem;

        table tr {
            padding: 1rem 0.5rem;
        }
    }

    .commentaries {
        .cardSection {
            .singleCard {
                background-color: rgba(40, 99, 89);
            }
        }
    }

    .contactMeSection {
        padding: 5rem 6rem !important;
    }

    .imprint {
        padding-top: 5rem;
    }
}

@media (max-width: 550px) {
    .portfolioSection {
        .portfolioSectionLeft {
            .portfolio {
                margin: 0 3rem;
            }
        }
    }

    .commentaries {
        .cardSection {
            .singleCard {
                width: 370px;
                height: 280px;
            }
        }
    }
}

@media (max-width: 500px) {
    html {
        font-size: 12px;
    }

    .squareDesign {
        min-width: 100%;
        box-sizing: border-box;
        height: fit-content;
    }

    .whoIAmSection {
        >.profileSection {
            width: 100%;

            .profile {
                aspect-ratio: 1 / 1;
            }
        }

        >.whoIAm {
            @include d_general(center, center);
            max-width: 100%;
            width: 100%;

            >.aboutMe {
                align-self: center;
                max-width: 100%;
                height: fit-content;

                table td {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .technologiesSection {
        >.skillSetSection {
            max-width: 100%;

            >.skillsetDescription {
                margin: 0;
                min-height: fit-content;
                width: 100%;
                min-width: 100%;
            }
        }
    }

    .overlayBg .projectDetails {
        padding: 2rem;

        >.cardLeft {

            >.tecsAndButtons {
                @include d_general_column(column, space-between, flex-start);
                align-items: flex-start;
                justify-content: flex-start;

                >.tecsCard {
                    >div {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .commentaries {
        .cardSection {
            .singleCard {
                height: fit-content;
                width: 100%;

                .singleCardInfo {
                    .commentary {
                        font-size: 1.2rem;
                        padding: 0 1.5rem;
                    }

                    .commentator p {
                        font-size: 1.1rem;
                        word-break: break-word
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .portfolioSection .portfolioSectionLeft .portfolio {
        margin: 0 4.5rem;
    }

    .portfolioSection {
        padding: 0;

        .portfolioSectionLeft {
            .portfolio {
                margin: 0;

                h2,
                p {
                    max-width: 80%;
                }

                table tr {
                    padding: 1rem 2.5rem;
                }

                table th {
                    padding: 0;
                }

                table td {
                    text-align: left;
                    line-height: 1.5rem;

                    .devide {
                        width: 0;
                    }
                }
            }
        }
    }

    .projectDetails .cardLeft .cardHeadlines h2 {
        font-size: 3rem
    }

    .contactMeSection {
        padding: 5rem 3rem !important;
    }

    .footerSection {
        padding: 2rem 3rem 5rem !important;
        position: relative;

        .copyright {
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
        }

        .businesMedia a {
            font-size: 1.2rem;
        }
    }

    .prPolicySection .prPolicy {
        padding: 0 3rem;
        padding-top: 5rem;
    }
}


@media (max-width: 400px) {

    .footerSection {
        padding: 1.8rem 1.8rem 5rem !important;
        font-size: 1rem;
    }
}

.commentaries {
    .cardSection {
        height: 350px;
    }
}

@media (max-width: 360px) {

    .commentaries {
        .cardSection {
            height: 400px;
        }
    }

    .footerSection {
        padding: 1.8rem 1.5rem 5rem !important;
    }
}