@import './../shared/general-responsive-design.scss';
/*mixins*/

@mixin anker (){
    color: $fontWhite;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color: $fontGreen;
    }
}

/*style-variables*/
$fontWhite: rgba(217, 217, 217, 1);
$fontGreen: rgba(61, 207, 182, 1);
$backgroundGrey: rgb(27, 27, 27);

/*general style*/
html {    
    scroll-behavior: smooth;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

section {
    padding: 5rem 10rem;
    position: relative;
    margin: auto;
    color: $fontWhite;
    max-width: 120rem;
}
  
.d_none {
    display: none;
}

.btnPointer {
    cursor: pointer;
}
  
.btn {
    cursor: pointer;
    padding: 0.75rem 1rem;
    font-family: 'Fira Code';
    font-size: 1rem;
    border: solid 0.125rem $fontWhite;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: $fontWhite;
    transition: color 0.4s;
    transition: background-color 0.4s;
    &:hover {
        border: solid 0.125rem $fontGreen;
        color: $fontGreen;
        background-color: rgba(217, 217, 217, 0.2);        
    }
}

.greenH2 {
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
    color: $fontGreen;
}


h3 {
    font-family: 'Karla';
    font-size: 1.5rem;
    color: $fontGreen;
}

.squareDesign {
    height: 35.5rem;
    width: 35.5rem;
    border-radius: 2rem;
}

#shadow-host-companion {
    padding: 0;
}

.inactiveBtn {
    text-decoration: line-through !important;
    &:hover {
        color: $fontWhite !important;
        cursor: default !important;
    }
}

@mixin greenSquare($squareSide) {
    height: $squareSide;
    width: $squareSide;
    border: solid 0.0625rem $fontGreen;
    padding: 2rem;
    color: $fontWhite;
    background-color: rgba(61, 207, 182, 0.1);
}