@import './../../shared/general-style.scss';
@import './../../shared/general-responsive-design.scss';
@import './../../shared/general-keyframes.scss';

.commentaries {
    text-align: center;
    overflow-x: hidden;
}

h2 {
    color: $fontGreen
}

.cardSection {
    @include d_general(center, center);
    position: relative;
    width: 100%;
    height: 320px;

    .singleCard {
        position: absolute;
        z-index: -1;
        height: 270px;
        width: 500px;
        background-color: rgba(40, 99, 89, 0.9);
        opacity: 1;
        border: solid 0.0625rem $fontGreen;
        border-radius: 2rem;

        .singleCardInfo {
            @include d_general_column(column, space-between, center);
            height: 100%;

            p {
                flex: 1;
                font-size: 1rem;
            }

            .commentator {
                width: 90%;

                p {
                    white-space: nowrap;
                    font-size: 1rem;
                }
            }
        }
    }

    .navBar {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

.commentator {
    @include d_general_column(row, space-between, center);
}

.horizontalLine {
    border: solid 0.0625rem $fontWhite;
    margin: 1rem;
    flex-grow: 1;
}

p {
    padding: 0 1rem;
    font-size: 0.75rem;
    font-family: 'Karla';
}

.navigateExperiences {
    @include d_general(center, center)
}

.arrowImg {
    margin: 0 0.5rem;
    height: 2.5rem;
    width: 2.5rem;

    &:hover {
        cursor: pointer;
    }
}

.dot {
    padding: 0 0.25rem;
    height: 0.5rem;
    width: 0.5rem;
}

.farLeftToLeft {
    animation: farLeftToLeft 0.5s forwards;
}

.leftToMid {
    animation: leftToMid 0.5s forwards;
}

.midToRight {
    animation: midToRight 0.5s forwards;
}

.rightToFarRight {
    animation: rightToFarRight 0.5s forwards;
}

.farRightToRight {
    animation: farRightToRight 0.5s forwards;
}

.rightToMid {
    animation: rightToMid 0.5s forwards;
}

.midToLeft {
    animation: midToLeft 0.5s forwards;
}

.leftToFarLeft {
    animation: leftToFarLeft 0.5s forwards;
}

.farRightToFarLeft {
    animation: farRightToFarLeft 0.5s forwards;
}

.farLeftToFarRight {
    animation: farLeftToFarRight 0.5s forwards;
}

@keyframes vanishByMoving {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}