@import './../../shared/general-style.scss';

.commentaries {
    text-align: center;
}

h2 {
    color: $fontGreen
}

.cardSection {
    @include d_general(center, center)
}

.commentCard { 
    @include d_general_column(column, space-between, unset);
    text-align: start;
    background-color: rgba(61, 207, 182, 0.4);
    min-width: 24rem;
    height: 10rem;
    padding: 2rem;
    margin: 1rem;
    border: solid 0.0625rem $fontGreen;
    border-radius: 2rem;
}

.commentator {
    @include d_general_column(row, space-between, center);
}

.horizontalLine{
    border: solid 0.0625rem $fontWhite;
    margin: 1rem;
    flex-grow: 1;
}
p {
    padding: 0 1rem;
    font-size: 0.75rem;
    font-family: 'Karla';
}

.navigateExperiences {
 @include d_general(center, center)
}

.arrowImg {
    margin: 0 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    &:hover {
        cursor: pointer;
    }
} 

.dot {
    padding: 0 0.25rem;
    height: 0.5rem;
    width: 0.5rem;
}