<section class="whoIAmSection">
    <div class="profileSection">
        <h3>{{ 'who-i-am.who-i-am' | translate }}</h3>
        <h3>Who am I</h3>
        <div class="squareDesign profile"></div>
        <!-- <img class="squareDesign profile" src="./../../../assets/img/who-i-am-img/profile.JPG" alt="profile"> -->
        <img class="squareDesign profileBg" src="./../../../assets/img/who-i-am-img/Capa_1.png" alt="profile-bg">
    </div>
    <div class="whoIAm">
        <h3>Who am I</h3>
        <div class="squareDesign aboutMe">
            <h2 class="greenH2">About me</h2>
            <p>Hey, ich bin Hendrik! Schon als Jugendlicher entdeckte ich meine Leidenschaft für das Programmieren und entwickelte erste Modifikationen für Videospiele. Seitdem bin ich in meinem Umfeld der erste Ansprechpartner, bei technischen Herausforderungen.</p>
            <table>
                <tr>
                    <td class="imgTd"><img src="./../../../assets/img/who-i-am-img/mindset-icon.png" alt=""></td>
                    <td>Am Programmieren fasziniert mich besonders die Kombination aus Kreativität und Logik, mit der sich immer neue Dinge erschaffen lassen. Es ist für mich eine spannende Welt, in der es ständig etwas Neues zu lernen gibt!</td>
                </tr>
                <tr>
                    <td class="imgTd"><img src="./../../../assets/img/who-i-am-img/tic-icon.png" alt=""></td>
                    <td>Ich sehe Probleme gerne eher als Logikrätsel, die gelöst werden wollen. Und es gefällt mir sehr, mein analytisches und abstraktes Denken zu schulen, um die Welt in der wir leben täglich etwas besser zu verstehen.</td>
                </tr>
                <tr>
                    <td class="imgTd"><img src="./../../../assets/img/who-i-am-img/location-icon.png" alt=""></td>
                    <td>Derzeit lebe ich in Herdecke bei Dortmund. Ich habe besonderes Interessean der gemeinsamen Arbeit im Büro, bin aber auch offen für die Arbeit aus dem Homeoffice.</td>
                </tr>
            </table>
        </div>
    </div>
</section>