@import './../../shared/general-style.scss';
@import './../../shared/general-responsive-design.scss';

.whoIAmSection {
    max-width: 1920px
    // @include d_general(center, end);
    // position: relative;
    // gap: 12.5rem;
}

.profileSection {
    @include d_general(flex-start, start);
    height: 43.75rem;
    max-width: 100%;
    >h3 {
        display: none;
    }
}

.profileBg {
    position: absolute;
    top: 5rem;
    left: 10rem;
    transition: 0.3s ease;
}

.profile {
    z-index: 1;
    position: absolute;
    top: 5rem;
    left: 10rem;
    transition: 0.2s ease;
    background-image: url('./../../../assets/img/who-i-am-img/profile.JPG');
    background-position: center;
    background-size: cover;
        &:hover {
        display: block;
        top: 4.5rem;
        left: 9rem;
    }
    &:hover ~ .profileBg{
        display: block;
        top: 6rem;
        left: 11rem;
    }
}

.whoIAm {
    @include d_general_column(column, flex-end, start);
    >.aboutMe {
        position: absolute;
        right: 10rem;
        @include greenSquare(33rem);
    }
    >h3 {
        position: absolute;
        top: 7.5rem;
        right: 37rem;
    }
}

td {
    padding-bottom: 0.5rem;
    font-size: 1rem;
    >img {
        height: 2rem;
        aspect-ratio: 1/1;
    }
}

.imgTd {
    @include d_general(center, flex-start);
    padding: 0.125rem 0.25rem 0 0;
}