@import './../../shared/general-style.scss';
@import './../../shared/general-responsive-design.scss';

.whoIAmSection {
    max-width: 1920px;
    @include d_general(space-around, center);
}

.profileSection {
    @include d_general(flex-start, start);
    height: 43.75rem;
    max-width: 100%;
    >h3 {
        display: none;
    }
}

.profileBg {
    position: absolute;
    transition: 0.3s ease;
}

.profile {
    z-index: 1;
    margin: 0;
    transition: 0.2s ease;
    background-image: url('./../../../assets/img/who-i-am-img/profile.JPG');
    background-position: center;
    background-size: cover;
        &:hover {
        display: block;
        margin: 2rem 0 0 2rem;
    }
    &:hover ~ .profileBg{
        display: block;
    }
}

.whoIAm {
    @include d_general_column(column, flex-end, start);
    margin-left: 2rem;
    >.aboutMe {
        right: 10rem;
        @include greenSquare(fit-content);
        max-width: 33rem;
    }
    >h3 {
        top: 7.5rem;
        right: 37rem;
    }
}

td {
    padding-bottom: 0.5rem;
    font-size: 1rem;
    >img {
        height: 2rem;
        aspect-ratio: 1/1;
    }
}

.imgTd {
    @include d_general(center, flex-start);
    padding: 0.125rem 0.25rem 0 0;
}