<section class="whoIAmSection">
    <img class="squareDesign profile" src="./../../../assets/img/who-i-am-img/Photo.png" alt="profile">
    <img class="squareDesign profileBg" src="./../../../assets/img/who-i-am-img/Capa_1.png" alt="profile-bg">
    <div class="whoIAm">
        <h3>Who I Am</h3>
        <div class="squareDesign aboutMe">
            <h2 class="greenH2">About me</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur doloremque aliquid corrupti ullam vero laborum neque consequuntur tenetur aut eius. Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <table>
                <tr>
                    <td class="imgTd"><img src="./../../../assets/img/who-i-am-img/location-icon.png" alt=""></td>
                    <td>placeholder: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ipsum autem ab impedit iure tempora quia velit ipsa soluta ullam!</td>
                </tr>
                <tr>
                    <td class="imgTd"><img src="./../../../assets/img/who-i-am-img/mindset-icon.png" alt=""></td>
                    <td>placeholder: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ipsum autem ab impedit iure tempora quia velit ipsa soluta ullam!</td>
                </tr>
                <tr>
                    <td class="imgTd"><img src="./../../../assets/img/who-i-am-img/tic-icon.png" alt=""></td>
                    <td>placeholder: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ipsum autem ab impedit iure tempora quia velit ipsa soluta ullam!</td>
                </tr>
            </table>
        </div>
    </div>
</section>