<section class="portfolioSection">
    <div class="portfolioSectionLeft">
        <h3>Portfolio</h3>
        <div class="portfolio">
            <h2 class="greenH2">{{ 'myProjects.subheadline' | translate }}</h2>
            <p>{{ 'myProjects.paragraph' | translate }}</p>
            <table>
                @for (project of projects; track $index) {
                <tr (mouseenter)="showImage($index)" (mouseleave)="showImage($index)"
                    (click)="toggleProjektDetails($index)">
                    <th>{{ project.name }}</th>
                    <td>
                        <span class="devide"> | </span>
                        @for (tec of project.technologies; track $index) {
                        <span>{{ tec }}</span>
                        <span class="devide"> | </span>
                        }
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
    <div class="howerProject">
        @for (project of projects; track $index) {
        <div class="miniGraphic">
            @if (project.isHovered) {
            <img class="{{project.class}}Shadow" src="./../../../assets/img/p-projects-img/imgShadow.png"
                alt="imageShadow">
            <img class="{{project.class}}" src="./../../../assets/img/p-projects-img/{{project.class}}-card.jpg"
                alt="{{project.class}}.img">
            }
        </div>
        @if (project.isOpened) {
        <div class="overlayBg" (click)="toggleProjektDetails($index)">
            <div class="projectDetails" (click)="stopBubbling($event)">
                <div class="cardLeft">
                    <div class="cardHeadlines">
                        <h2 class="cardIndex">{{ $index+1 }}</h2>
                        <h2>{{ project.name }}</h2>
                    </div>
                    <h3>{{ 'myProjects.singleProjectHeadline' | translate }}</h3>
                    <p class="description" [ngClass]="{'d_none': !switchlanguagedata.german}" [innerHTML]="project.descriptionDe"></p>
                    <p class="description" [ngClass]="{'d_none': switchlanguagedata.german}" [innerHTML]="project.descriptionEn"></p>
                    <div class="tecsAndButtons">
                        <div class="tecsCard">
                            @for (tec of project.technologies; track $index) {
                            <div>
                                <img src="./../../../assets/img/p-projects-img/{{ tec }}.png" alt="{{ tec }}.png">
                                <span>{{ tec }}</span>
                            </div>
                            }
                        </div>
                        <div class="cardButtons">
                            <a href="{{ project.github }}" target="_blank" class="btn">GitHub</a>
                            <a href="{{ project.lifetest }}" target="_blank" class="btn">LiveTest</a>
                        </div>
                    </div>
                </div>
                <div class="cardRight">
                    @if (hovers[0].hovered) {
                    <img class="closeBtn" src="./../../../assets/img/p-projects-img/close-hover.png" alt="close-hover"
                        (mouseleave)="addHover(0)" (click)="toggleProjektDetails($index)">
                    } @else {<img class="closeBtn" src="./../../../assets/img/p-projects-img/close.png" alt="close"
                        (mouseenter)="removeHover(0)" (click)="toggleProjektDetails($index)">}
                    <img class="graphic" src="./../../../assets/img/p-projects-img/{{project.class}}-card.jpg"
                        alt="{{project.class}}.img">




                    @if (hovers[1].hovered) {
                    <div class="nextBtn" (mouseleave)="addHover(1)" (click)="nextProject($index)">
                        <p>{{ 'myProjects.button' | translate }}</p><img src="./../../../assets/img/c-experience-img/right-hover.png" alt="next">
                    </div>
                    } @else {<div class="nextBtn" (mouseenter)="removeHover(1)" (click)="nextProject($index)">
                        <p>{{ 'myProjects.button' | translate }}</p><img src="./../../../assets/img/c-experience-img/right.png" alt="next">
                    </div>}
                </div>
            </div>
        </div>
        }
        }
    </div>
</section>