<section class="portfolioSection">
    <div>
        <h3>Portfolio</h3>
        <div class="portfolio">
            <h2 class="greenH2">Featured Projects</h2>
            <p>Explore a Section of all my work here - interact with the projects to see my skills in action!</p>
            <table>
                @for (project of projects; track $index) {
                    <tr (mouseenter)="showImage($index)" (mouseleave)="showImage($index)" (click)="openProjektDetails($index)">
                        <th>{{ project.name }}</th>
                        <td>
                            <span class="devide"> | </span>
                            @for (tec of project.technologies; track $index) {
                                <span>{{ tec }}</span>
                                <span class="devide"> | </span>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="howerProject">
        @for (project of projects; track $index) {
            @if (project.isHovered) {
                <img class="{{project.class}}Shadow" src="./../../../assets/img/p-projects-img/imgShadow.png" alt="imageShadow">
                <img class="{{project.class}}" src="./../../../assets/img/p-projects-img/{{project.class}}.jpg" alt="{{project.class}}">
            }
        }
    </div>
</section>