@import './../shared/general-style.scss';
@import './../../styles.scss';

.main-content {
    font-family: 'Fira Code';
    background-color: $backgroundGrey;
                            color: rgb(255, 60, 0); //just fpr testing
}