@import './../shared/general-style.scss';
@import './../../styles.scss';

.main-content {
    font-family: 'Fira Code';
    background-color: $backgroundGrey;
                            color: $fontGreen; //just fpr testing
}