@import './../shared/general-style.scss';

main {
    @include d_general_column (column, center, center);
    background-image: url('./../../app/shared/img/general-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 14.625rem);
    width: 100%;
    padding: 0;
    color: $fontWhite;
    font-family: 'Karla';

    >h1 {
        font-size: 2.5rem;
        font-weight: 400;
    }

    ;

    >p {
        >a {
            @include anker();
        }
    }
}