<app-header id="header"></app-header>
<main>
    <h1>{{ 'imprint.title' | translate }}</h1>

    <p>Hendrik Bischoping</p>
    <p>Beethovenweg 9</p>
    <p>58313 Herdecke</p>
    <br>
    <br>
    <br>
    <h2>{{ 'imprint.contact' | translate }}</h2>
    <p>{{ 'imprint.phone' | translate }}: <a href="tel:015780847980">0157 80847980</a></p>
    <p>E-Mail: <a href="mailto:hbischoping&#64;googlemail.com">hbischoping&#64;googlemail.com</a></p>

    <p>{{ 'imprint.source' | translate }}: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
</main>
<app-footer></app-footer>