<section class="technologiesSection">
    <div class="skillSetSection">
        <h3>Technologies</h3>
        <div class="skillsetDescription squareDesign">
            <h2>Skillset</h2>
            <p>Seit gut einem halben Jahr setze ich HTML, CSS, JavaScript und TypeScript aktiv in Projekten um. Mit Angular habe ich erste interaktive Webanwendungen entwickelt, während ich mit Firebase erste Erfahrungen in der Backend-Integration gesammelt habe. Agile Methoden wie Scrum helfen mir, strukturiert und effizient zu arbeiten.</p>
            <h3><span>You need</span> another skill?</h3>
            <p>Web-Technologien entwickeln sich rasant – und genau das begeistert mich! Ich lerne kontinuierlich dazu, teste neue Ansätze und optimiere meinen Code, um nicht nur funktionale, sondern auch moderne und performante Lösungen zu schaffen.</p>
            <button class="btn"><p>Let`s talk!</p></button>
        </div>
    </div>
    <div class="technologies">
        @for (tec of technologies; track $index) {
            <div class="technology">
                <img src="./../../../assets/img/technologies-img/{{ tec.name }}.png" alt="{{ tec.name }}">
                <span>{{ tec.name }}</span>
            </div>
        }
    </div>
</section>