@import './../../shared/general-style.scss';

.technologiesSection {
    @include d_general(space-between, center);
}

.skillsetDescription {
    @include greenSquare(27.5rem);
}

.technologies {
    @include d_general(flex-start, center);
    max-width: 40%;
    flex-flow: row wrap;
}

.technology {
    @include d_general_column (column, flex-start, center);
    width: 6.25rem;
    height: 7.5rem;
    padding: 1rem;
    text-align: center;
    transition: scale 0.2s;
    >span {
        margin-top: 0.5rem;
        word-break: normal;
        color: $fontWhite;
    }
    >img {
        height: 3.75rem;
        width: 3.75rem;
    }
    &:hover {
        scale: 1.1;
        overflow: hidden;
        >span {
            color: $fontGreen;
        }
    }
}