<section class="technologiesSection">
    <div class="skillSetSection">
        <h3>{{ 'technologies.headline' | translate }}</h3>
        <div class="skillsetDescription squareDesign">
            <h2>{{ 'technologies.subheadline' | translate }}</h2>
            <p>{{ 'technologies.firstParagraph' | translate }}</p>
            <h3><span>{{ 'technologies.youNeed' | translate }}</span> {{ 'technologies.anotherSkill' | translate }}</h3>
            <p>{{ 'technologies.secondParagraph' | translate }}</p>
            <button class="btn"><a href="tel:015780847980"><p>{{ 'technologies.button' | translate }}</p></a></button>
        </div>
    </div>
    <div class="technologies">
        @for (tec of technologies; track $index) {
            <div class="technology">
                <img src="./../../../assets/img/technologies-img/{{ tec.name }}.png" alt="{{ tec.name }}">
                <span>{{ tec.name }}</span>
            </div>
        }
    </div>
</section>