<section class="footerSection">
        <div>
            <a href="#contact" class="logoSection btnPointer">
                <img class="myLogo" src="../../../assets/img/header-img/my-logo-2.png" alt="my logo">
                <div>
                    <p>Hendrik</p>
                    <p>Bischoping</p>
                </div>
            </a>
            <span>Web Developer</span><br>
            <span>Herdecke Germany</span>
        </div>
        <div>
            <span>© Hendrik Bischoping 2025</span>
        </div>
        <div>
            <span>Github</span>
            <span>LinkedIn</span>
            <span>Email</span>
            <span>Legal Notice</span>
        </div>
</section>
