<section class="footerSection">
        <div>
            <a href="#header" class="logoSection btnPointer">
                @if (!this.logoHovered) {
                <img src="./../../../assets/img/footer-img/logo.png" class="myLogo" alt="myLogo" (mouseenter)="addHover()" (mouseleave)="removeHover()">
                }@else {<img src="./../../../assets/img/footer-img/logo-hover.png" class="myLogo" alt="myLogo" (mouseenter)="addHover()" (mouseleave)="removeHover()">}
            </a>
            <p>Web Developer</p><br>
            <p>Herdecke Germany</p>
        </div>
        <div>
            <span>© Hendrik Bischoping 2025</span>
        </div>
        <div class="businesMedia">
            <a href="https://github.com/hendrikBischoping">Github</a>
            <a href="" class="inactiveBtn">LinkedIn</a>
            <a href="mailto:hbischoping&#64;googlemail.com">Email</a>
            <a href="privacy-policy-de">Legal Notice</a>
            <a href="imprint">Imprint</a>
        </div>
</section>
