@import './../../shared/general-style.scss';

.footerSection {
    padding: 40px 160px;
    @include d_general(space-between, center);
    >div {
        >a {
        margin: 8px;
        @include anker()
        }
        >span {
            color: $fontGreen;
        }
    }
}

p {
    margin: 0;
}

.logoSection {
    @include d_general(center, center);
    @include  anker ();
    >div {
        >p {
            margin-top: 4px;
            margin-bottom: 4px;
            font-family: 'Karla';
            font-size: 24px;
            font-weight: 700;
        }
    }
}

.myLogo {
    height: 56px;
    width: auto;
}

.businesMedia {
    @include d_general_column(column, flex-start, start)
}