<section class="footerSection">
        <div>
            <a href="#header" class="logoSection btnPointer">
                <img class="myLogo" src="../../../assets/img/header-img/my-logo-2.png" alt="my logo">
                <div>
                    <p>Hendrik</p>
                    <p>Bischoping</p>
                </div>
            </a>
            <p>Web Developer</p><br>
            <p>Herdecke Germany</p>
        </div>
        <div>
            <span>© Hendrik Bischoping 2025</span>
        </div>
        <div class="businesMedia">
            <a href="">Github</a>
            <a href="">LinkedIn</a>
            <a href="">Email</a>
            <a href="">Legal Notice</a>
            <a href="">Imprint</a>
        </div>
</section>
