@import './../../shared/general-style.scss';

.footerSection {
    padding: 2rem 10rem;
    @include d_general(space-between, center);
    background-color: $backgroundGrey;
    >div {
        >a {
        margin: 0.5rem;
        @include anker()
        }
        >span {
            color: $fontGreen;
        }
    }
}

p {
    margin: 0;
}

.logoSection {
    @include d_general(center, center);
    @include  anker ();
    >div {
        >p {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            font-family: 'Karla';
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}

.myLogo {
    height: 3.5rem;
    width: auto;
}


.businesMedia {
    @include d_general_column(column, flex-start, end)
}